@model RavenMailtrap.Model.Message


<div>
    @Html.ActionLink("View Original", "Download", new { Model.Id }, new{title="Open the original email (Requires a mail client installed like Outlook, Thunderbird, etc...)"})
    <h3>@Html.DisplayNameFor(m => m.From): @Html.DisplayFor(m => m.From)</h3>
    <h3>@Html.DisplayNameFor(m => m.To): @string.Join(", ", Model.To)</h3>
    <h3>@Html.DisplayNameFor(m => m.Subject): @Html.DisplayFor(m => m.Subject)</h3>

    <iframe seamless scrolling="auto" width="100%" height="225px" src="@Url.Action("HtmlContent", "Messages", new { id = Model.Id })"></iframe>
</div>
